body{
    margin-top: 100px;
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 200px;
}
h4{
    text-align: right;
    text-decoration: none;
}
a{
    text-decoration: none;
    color:rgb(73, 31, 51)
}
h1{
    color:white;
    font-family: 'Abril Fatface', cursive;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
h3{
    color:rgb(253, 243, 243);
    font-style: italic;
    font-weight: bold;

}
p{
    color:rgb(63, 32, 100);
}
p2{
    font-weight: bold;
    color:rgb(42, 52, 197);
    font-size: large;
}